* {
    color: {{foreground}};
    background: {{background}};
    border: none;
    border-radius: 10px;
}

.monitor {
    padding: 10px 6px;
}

.workspace {
    margin: 0 4px;
}

.index {
    color: {{color2}};
    background: {{background}};
    border-radius: 10px;
    padding: 3px;
}

.client {
    border-radius: var(--border-radius);
    background-color: var(--background);
    border: 3px solid var(--border-color);
}

.client_active {
    border: 3px solid {{color6}};
}
