/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/ravn/Pictures/Wallpapers/wallhaven-d69eom.jpg");

    /* Special */
    --background: #3B4349;
    --foreground: #BFBBBB;
    --cursor: #CA9CAA;

    /* Colors */
    --color0:  #3F4347;
    --color1:  #584F4F;
    --color2:  #9C7690;
    --color3:  #6A859F;
    --color4:  #8C9381;
    --color5:  #E599B1;
    --color6:  #9FD0A6;
    --color7:  #8A8585;
    --color8:  #615D5D;
    --color9:  #584F4F;
    --color10: #9C7690;
    --color11: #6A859F;
    --color12: #8C9381;
    --color13: #E599B1;
    --color14: #9FD0A6;
    --color15: #8A8585;
}
